{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Zgłoś problem</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="subject" class="form-label">Temat</label>
      <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Opis problemu</label>
      <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-warning">Wyślij zgłoszenie</button>
  </form>
</div>
{% endblock %}
